* {
    font-family: "Fira Code";
}

#waybar {
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    color: white; /* Text color */
    border-radius: 10px; /* Rounded edges */
    border: 2 solid rgba(51, 204, 238, 0.8); /* Border color */
}

#clock {
    color: #fff;
    margin-left: 4px;
}

#tray {
    padding-left: 4px;
}

#workspaces button:hover {
    background-color: transparent;
}

#workspaces button {
    color: grey;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0px;
}

#workspaces button:hover {
    background-color: lightblue;
}

#workspaces button.active {
    color: greenyellow;
}

#window {
    color: #fff;
}

#network {
    color: #3b82f6;
    margin-right: 8px;
}

#pulseaudio {
    color: #14b8a6;
    margin-right: 8px;
}

#pulseaudio.muted {
    color: #3b4252;
    margin-right: 8px;
}

#cpu {
    color: #0ea5e9;
    margin-right: 8px;
}

#temperature {
    color: #eab308;
    margin-right: 4px;
}

#memory {
    color: #d946ef;
    margin-right: 4px;
}

#custom-powermenu {
    color: #f43f5e;
    margin-right: 4px;
}

#backlight {
    color: #ebcb8b;
    margin-right: 4px;
}

#battery {
    color: white;
    margin-right: 4px;
}

#custom-keyboard-layout {
    color: #d08770;
    margin-right: 8px;
}

#custom-updates {
    color: white;
    margin-right: 12px;
}

#custom-playerctl {
    margin-left: 8px;
}
