window#waybar {
    font-family: "JetBrains Mono";
    background-color: rgba(0, 0, 0, 0);
    color: rgb(230, 230, 230);
    font-size: 1.2rem;
    border-radius: 10px;
}

tooltip {
    font-family: "JetBrains Mono";
    font-size: 0.8rem;
}

.modules-left {
    background: linear-gradient(
        315deg,
        rgba(160, 72, 107, 0.4),
        rgba(97, 42, 64, 0.6)
    );
    border-radius: 10px;
    padding: 3px;
}

.modules-center {
    background: linear-gradient(
        180deg,
        rgba(160, 72, 107, 0.4),
        rgba(97, 42, 64, 0.6)
    );
    border-radius: 10px;
    padding: 3px;
}

.modules-right {
    background: linear-gradient(
        45deg,
        rgba(160, 72, 107, 0.4),
        rgba(97, 42, 64, 0.6)
    );
    border-radius: 10px;
    padding: 3px;
}

#image.powermenu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 0px 10px;
    border-left: 10px;
}

#workspaces {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 0 5px;
}

#workspaces button {
    color: rgb(136, 136, 136);
    font-size: 1.2rem;
    padding: 0 0.3rem 0 0;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 1);
}

#workspaces button.special {
    font-size: 1.2rem;
    padding: 0 0.3rem 0 0;
}

#workspaces button.active {
    color: white;
}

#workspaces button.urgent {
    color: red;
}

#window,
#custom-media {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

#custom-backlightdarkmode {
    padding-right: 0px;
}

#custom-audiooutputtoggle {
    padding-right: 1px;
}

#custom-dotseperator {
    font-size: 25px;
    color: rgba(255, 165, 197, 0.599);
}

#custom-lineseperator {
    font-size: 25px;
    padding-right: 0.1rem;
    color: rgba(255, 165, 197, 0.599);
}

#tray {
    background-color: rgba(0, 0, 0, 0.118);
    border-radius: 10px;
    padding: 2px 5px;
}

#clock.time,
#clock.date {
    font-size: 18px;
    font-weight: 600;
}

#custom-audiooutputtoggle,
#wireplumber,
#pulseaudio,
#custom-lights,
#backlight,
#network,
#memory,
#cpu,
#custom-lightdarkmode {
    margin-left: 6px;
    margin-right: 6px;
}

#custom-buttonspace {
    margin-left: 3px;
}

#wireplumber {
    font-size: 16px;
    padding-right: 9px;
}

#pulseaudio {
    font-size: 16px;
    padding-right: 9px;
}

#custom-seperator {
    font-size: 28px;
}

#custom-space {
    font-size: 10px;
}

#custom-smallspace {
    font-size: 5px;
}

#network {
    font-size: 16px;
    padding-right: 9px;
}

#memory {
    font-size: 16px;
    padding-right: 9px;
}

#cpu {
    font-size: 16px;
    padding-right: 9px;
}

#battery {
    font-size: 16px;
    padding-right: 9px;
}

#disk {
    color: lightskyblue;
}

#temperature {
    color: lightslategray;
}
